<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>FORMULARIO DE CATEGORIAS</h1>
<form th:action="@{/save}" method="Post">
  <label for="fname">NOMBRE CAEGORIA: </label><br>
  <input type="text" id="fname" name="Nombre" value=""><br>
  <label for="lname">DESCRIPCION DE CATEGORIA:</label><br>
  <input type="text" id="lname" name="Descripcion" value=""><br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>