<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Inicio</title>
	<meta charset="utf-8">
</head>
<body>


<!-- <i><h1 style="color: blue;">Hola mundo desde Thymeleaf</h1></i> -->
<!-- <p th:text="${'Nombre: '+nombreV}"></p> -->
<!-- <p th:text="${'Edad: '+edadV}"></p> -->
<!-- <p th:text="${'Peso: '+pesoV}"></p> -->
<!-- <p th:text="${'Sexo: '+sexoV}"></p> -->


<h1>Bienvenido</h1>
<h2>Oferta de trabajo</h2>
<h3 th:text="'Titulo: '+${nombre}"></h3>
<h3 th:text="'Fecha Pub: '+${fecha}"></h3>
<h3 th:text="'Salario Ofrecido: '+${salario}"></h3>
<h3 th:text="'Vigente: '+${vigente}"></h3>
</body>
</html>