<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Creación de Usuarios</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link th:href="@{https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}" rel="stylesheet" >
  </head>

  <body>

   <header th:insert="/fragments/menu :: menu-principal">
    
    </header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Formulario de registro</strong></h4>              
          <div class="card-body">
            <form th:action="@{/VACANTE/save}" method="post" th:object="${vacante}" enctype="multipart/form-data" >
            
            <div th:if="${#fields.hasErrors('*')}" class= "alert alert-danger" role="alert" >
               Por favor corriga los errores:
                <ul>
                   <li th:each="err : ${#fields.errors('*')}"  th:text="${err}"   />
                </ul>
            </div>
                          
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Escriba su nombre"  required="required">
                  </div>
                </div>
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" th:field="*{email}" id="email" name="email" placeholder="Escriba su correo electronico" required="required">
                  </div> 
                </div>    
              </div>    
              <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" th:field="*{username}" id="username" name="username" placeholder="Escribaa su nombre de usuario" required="required">
                  </div> 
                </div>    
              </div> 
               <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" th:field="*{password}" id="password" name="password" placeholder="Escriba su clave de acceso" required="required">
                  </div> 
                </div>    
              </div> 

              <button type="submit" class="btn btn-primary">Registrarse</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

     <footer  th:insert="/fragments/footer ::  pie-pagina"  class="footer">
     
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script> 
    <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>    
    <script th:src="@{/tinymce/tinymce.min.js}"></script>
    <script>
      
      $(function () {
        $("#fecha").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );
      
      
      tinymce.init({
          selector: '#detalle',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\ | bullist numlist outdent indent | forecolor backcolor table code"
          
   
      });
      
      
      
    </script>
  </body>
</html>