<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!-- <table> -->
<!-- <!-- <tr th:each="tmpEmp: ${empleos}"> --> -->
<!-- <!-- <td th:text="${tmpEmp}" /> --> -->
<!-- <!-- </tr> --> -->
<!-- </table> -->

<p th:text="${detalleV.id}"></p>
<p th:text="${detalleV.nombre}"></p>
<p th:text="${detalleV.descripcion}"></p>
<p th:text="${detalleV.fecha}"></p>
<p th:text="${detalleV.salario}"></p>

</body>
</html>